#approach ul li, #approach2 ul li, #approach3 ul li{
color: #131314B2;
font-size: 1rem;
opacity: 0.7;
list-style: none;
padding: 5px 30px;
background-image: url("../img/data-engineering/check-mark.svg");
background-repeat: no-repeat;
background-position: left center;
background-size: 20px;
}

#approach ul, #approach2 ul, #approach3 ul{
  list-style-position: outside;

}
video {
    border-radius: 12px;
    width: 20%;
}

#databricks-banner, #genai-banner {
  height: 95vh;
  background: url('../img/data-engineering/databricks-banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-bottom: 4px solid var(--primary);
}
#microsoft-banner {
  height: 95vh;
  background: url('../img/data-engineering/microsoft-banner.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-bottom: 4px solid var(--primary);
}


@media screen and (max-width: 767px) {
video {
    width: 25%;
}

}