 /* footer {
  padding-top: 7rem;
}  */
  .footer .container{
    border-bottom: 1px solid #DFDFEC;
  }
footer h3{
  color:var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: var(--bold);
  margin: 1rem 0;
}

footer ul li{
  list-style:disc;
  list-style-position: outside;
  margin-left: 1.5rem;
  margin-bottom: 10px;
}
footer ul li a{
  color:var(--black);
  font-weight: var(--regular);
  font-size: 1rem;
}
footer p{
  color:var(--black) !important;
}
footer ul li a:hover{
  color:var(--primary);
}
.copyright .bx-sm, .bx-md{
  color:var(--primary);
  margin-right:10px;
}
.copyright .bx-sm:hover, .bx-md:hover{
  color:var(--secondary);
  scale: 1.2;
  transition: all.3s ease-in;
}
 .copyright  p, .left-side p{
  color:var(--black) !important;
  font-weight: var(--semibold);
}
a.kathart{
  color:var(--primary);
}
a.kathart:hover{
  color:var(--secondary);
}
#cta:hover{
  scale: 1.05;
  transition: all.3s ease-in;
}
@media screen and (max-width: 768px) {
  #cta{
    padding: 1rem;
  }
  #cta .container{
    flex-direction: column;
  }
}