#hero {
  height: 110vh;
  background: url('../img/home/Home-Page-Web-Image-Banner-1_upscayl_4x_ultramix_balanced.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.banner-text h1 {
  font-size: 3.75rem;
  font-weight: var(--bold);
  color: var(--white);
  margin-bottom: 1rem;
}

.banner-text p {
  color: #CDCEE5;
  font-size: 1.25rem;
}

#whatwebuild .container {
  padding: 4rem;
  border-radius: 24px;
  background: var(--white);
  margin-top: -5rem;
  position: relative;
  z-index: 2;
  box-shadow: 0px 12px 32px 0px #0333470F;
}

.gray-card {
  background: var(--grey);
  padding: 1.5rem;
  border-radius: 24px;
  height: 100%;
  border:1px solid var(--grey);
}

.gray-card:hover{
  border: 1px solid var(--primary);
  scale: 1.02;
    transition: all.3s ease-in;
}

 .gray-card:hover video{
  scale: 1.2;
 }
 .gray-card:hover a{
  background: var(--primary);
  color: var(--white);
 }
  .gray-card:hover a i{
  background: var(--white);
  color: var(--primary);
 }

.gray-card p, .white-card p, .gray-card-2 p {
  color: #131314B2;
  font-size: 1rem;
}
.gray-card h4, .white-card h4, .gray-card-2 h4{
  font-size: 1.25rem;
  font-weight: var(--semibold);
}
.gray-card a, .white-card a, .gray-card-2 a{
  font-size: 1rem;
}
.gray-card img, .white-card img, .gray-card-2 img{
  border-radius: 12px;
  height: auto;
  max-width: 100%;
}

.gray-card-2 {
  background: var(--grey);
  padding: 1.5rem;
  border-radius: 24px;
  height: 100%;
  border:1px solid var(--grey);
}

.gray-card-2:hover, .white-card:hover{
  scale: 1.05;
  transition: all.3s ease-in;
  border: 1px solid var(--primary);
}

/* #about .container .row{
  max-width: 72rem;
} */

.white-card{
  background: var(--white);
  padding: 1.5rem;
  border-radius: 24px;
  height: 100%;
  box-shadow: 0px 12px 32px 0px #1313140F;

}
.white-card:hover a{
  background: var(--primary);
  color: var(--white);
}
.white-card:hover a i{
  background: var(--white);
  color: var(--primary);
}
#engagement{
  background-color: var(--grey);
}

#cta .container {
  background: var(--secondary);
  padding: 2rem;
  border-radius: 12px;
}

.mobile-btn{
  display: none;
}

#vision img{
  width: 75%;
}
 .vision-box h2{
  font-size:2.5rem;
  font-weight: var(--semibold);
  color:var(--white);
}
 .vision-box p{
  color:var(--white);
  font-weight: 1rem;
  line-height: 1.5rem;
  opacity: 1;
}
.vision-box {
  background: var(--primary);
  padding: 4rem;
  width: fit-content;
  border-radius: 24px;
  width: 40rem;
  position: absolute;
  top: 50%; /* Moves the element halfway down the parent */
  left: 50%; /* Moves the element halfway across the parent */
  transform: translate(-10%, -50%);
}
video{
  border-radius: 12px;
  width: 15%;
}
 .global-solution{
  width: 7% !important;
 }
@media(max-width:992px) {
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hightlight-block {
    max-width: 15.875rem;
  }
}

@media screen and (max-width: 767px) {
  #hero{
  height: 125vh;
  /* background: url('../img/home/Home-Page-Web-Image-Banner-1_Mobile_upscayl_4x_ultramix_balanced.webp'); */
  background:var(--secondary);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.5);
    padding-top: 3rem;
    padding-bottom: 3rem; */

  }
  .banner-overlay{
    position: relative;
  }
  #hero .banner-overlay {
    position: relative;
    align-items: flex-start !important;
  }
  /* #hero .banner-overlay .banner-text{
 -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);  
  padding: 2rem 0.5rem;
  border-radius: 24px;
  } */
  .banner-text h1 {
  font-size: 2.75rem;
  }
    .banner-text p {
 color: var(--white);
 opacity: 1;
  }
  #whatwebuild{
    margin: 1rem;
  }
  #whatwebuild .container{
    padding: 2rem 1rem;
  }
  #about .container .row .col-md-6, #about .container .row .col-md-6 p{
    align-items: center;
    text-align: center;
  }
  .desktop-btn{
    display: none;
  }
  .mobile-btn{
    display: flex;
  }
  #vision{
    padding-bottom:5rem;
  }
  #vision img{
  width: 100%;
}
#vision .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vision-box {
  padding: 2rem;
  width: fit-content;
  width: 100%;
  position: relative;
  top: 1rem;
  left: 0%;
  transform: translate(0%, 0%);
}
 video{
  width: 25%;
 }
  .global-solution{
  width: 25% !important;
 }

}

@media screen and (max-width: 680px) {}