#why-choose-us {
  height: 100vh;
  background: url('../img/why-choose-us/Hero-why-choose.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-bottom: 4px solid var(--primary);
}